<div class="jumbopic">
  <h1 class="homeheader">SEAT YOURSELF</h1>
</div>
<div class="index_restaurant">
  <h2>All Restaurants</h2>

<% @restaurants.each do |restaurant| %>

  <h3><%= link_to restaurant.name, restaurant_path(restaurant.id) %></h3>
  <p> Neighbourhood: <%= restaurant.neighbourhood %></p>
  <p> Address: <%= restaurant.address %></p>
  <p> Cuisine: <%= restaurant.cuisine_type%> </p>
  <p> Price Range: <%= restaurant.price_range%> </p>
  <% if restaurant.owner %>
  <p> Owner: <%= restaurant.owner.name %></p>
  <% end %>

<% end %>
</div>
