<%= form_for @reservation do |f| %>



  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :date %>
    <%= f.text_field :date %>
  </p>

  <p>
    <%= f.label :time %>
    <%= f.text_area :time %>
  </p>

<p>
  <%= radio_button_tag(:age, "child") %>
  <%= label_tag(:age_child, "I am younger than 21") %>
</p>

  <p>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
