<%= form_for @reservation do |f| %>



  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :date %>
    <%= f.text_field :date %>
  </p>

  <p>
    <%= f.label :time %>
    <%= f.text_area :time %>
  </p>

<p>
  <%= radio_button_tag(:age, "child") %>
  <%= label_tag(:age_child, "I am younger than 21") %>
</p>

  <p>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>



<!-- <p>
      <%= radio_button_tag(:time, "reservation1") %>
      <%= label_tag(:time, "5:00pm") %>

      <%= radio_button_tag(:time, "reservation2") %>
      <%= label_tag(:time, "5:30pm") %>

      <%= radio_button_tag(:time, "reservation3") %>
      <%= label_tag(:time, "6:00pm") %>

      <%= radio_button_tag(:time, "reservation4") %>
      <%= label_tag(:time, "6:30pm") %>

      <%= radio_button_tag(:time, "reservation5") %>
      <%= label_tag(:time, "7:00pm") %>

      <%= radio_button_tag(:time, "reservation6") %>
      <%= label_tag(:time, "7:30pm") %>

      <%= radio_button_tag(:time, "reservation7") %>
      <%= label_tag(:time, "8:00pm") %>

      <%= radio_button_tag(:time, "reservation8") %>
      <%= label_tag(:time, "8:30pm") %>

      <%= radio_button_tag(:time, "reservation9") %>
      <%= label_tag(:time, "9:00pm") %>
    </p> -->
