<h3>All Reservations</h3>
<% @reservation.each do |reservation| %>
  <ul>
    <li>
      <p> Date: <%= reservation.date %> at <%= reservation.time %>  </p>
      <p> Size: <%= reservation.size %> seats </p>
    </li>
  </ul>
<% end %>

<%= link_to("Back to All Restaurants", root_url, class:'back_restaurants') %>

<!-- <h3>Time Of Reservationsfsdf</h3>


<p>
  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "5:00pm") %>

  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "5:30pm") %>

  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "6:00pm") %>

  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "6:30pm") %>

  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "7:00pm") %>

  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "7:30pm") %>

  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "8:00pm") %>

  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "8:30pm") %>

  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "9:00pm") %>
</p> -->
