<h1>Home#index</h1>


<h3>Time Of Reservation</h3>


<p>
  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "5:00pm") %>

  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "5:30pm") %>

  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "6:00pm") %>

  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "6:30pm") %>

  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "7:00pm") %>

  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "7:30pm") %>

  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "8:00pm") %>

  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "8:30pm") %>

  <%= radio_button_tag(:time, "reservation") %>
  <%= label_tag(:time, "9:00pm") %>
</p>
