<h1>Make A New Reservation</h1>


<%= form_for([@restaurant, @reservation]) do |f| %>
  <p>
    <%= f.label :size, 'Size of Party' %><br>
    <%= f.number_field :size, max: 8, min: 1 %>
  </p>
  <p>
    <%= f.label :date, 'Please Choose A Date' %><br>
    <%= f.date_field :date, min: Date.today %>
  </p>


<h3> Reservation Time</h3>

  <p>
    
      <%= radio_button_tag(:time, "reservation") %>
      <%= label_tag(:time, "5:00pm") %>

      <%= radio_button_tag(:time, "reservation") %>
      <%= label_tag(:time, "5:30pm") %>

      <%= radio_button_tag(:time, "reservation") %>
      <%= label_tag(:time, "6:00pm") %>

      <%= radio_button_tag(:time, "reservation") %>
      <%= label_tag(:time, "6:30pm") %>

      <%= radio_button_tag(:time, "reservation") %>
      <%= label_tag(:time, "7:00pm") %>

      <%= radio_button_tag(:time, "reservation") %>
      <%= label_tag(:time, "7:30pm") %>

      <%= radio_button_tag(:time, "reservation") %>
      <%= label_tag(:time, "8:00pm") %>

      <%= radio_button_tag(:time, "reservation") %>
      <%= label_tag(:time, "8:30pm") %>

      <%= radio_button_tag(:time, "reservation") %>
      <%= label_tag(:time, "9:00pm") %>
    </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
